<a class="logoWrapper" *ngIf="ScreenService.isLarge()" routerLink="/dashboard/home">
  <img src="assets/logo.png" alt="">
</a>
<div class="userBlock">
  <span class="avatar">
    <img src="assets/messi.jpg" alt="">
  </span>
  <span class="username">Lionel Messi</span>
</div>
<nav>
  
  <ul>
      <li *ngFor="let item of DashboardService.menuConf" [routerLink]="true">

        <a [routerLink]="item.link" *ngIf="!item.subNav.length">
            <div class="linkBlock">
              <i class="fa" [ngClass]="'icon-'+item.icon"></i>
              <span class="text">{{item.title}} </span>
            </div> 
          </a>

          <a (click)="toggleSubnavAndMakeActive()" *ngIf="item.subNav.length" [ngClass]="{ active: isActive }">
            <div class="linkBlock">
              <i class="fa" [ngClass]="'icon-'+item.icon"></i>
              <span class="text">{{item.title}} </span>
            </div> 
            <i class="icon-anchor-right" *ngIf="item.subNav.length" aria-hidden="true"></i>
          </a>
          
          <ul class="subnav" *ngIf="item.subNav.length">
              <li class="nav_header">{{item.title}}</li>
              <li *ngFor="let subItem of item.subNav">
                <a [routerLink]="subItem.link">{{subItem.title}}</a>
              </li>
          </ul>
      </li>
  </ul>

</nav>
