<a class="logoWrapper" *ngIf="ScreenService.isLarge()" routerLink="/dashboard/home">
  <img src="assets/logo.png" alt="">
</a>
<div class="userBlock">
  <span class="avatar">
    <img src="assets/messi.jpg" alt="">
  </span>
  <span class="username">Lionel Messi</span>
</div>
<nav>
  
  <ul>
      <li  (click)="makeMeActive(item)" *ngFor="let item of menuConf; let i = index">
        <a [routerLink]="item.link" *ngIf="!item.subNav.length" routerLinkActive="active" >
            <div class="linkBlock">
              <i class="fa" [ngClass]="'icon-'+item.icon"></i>
              <span class="text">{{item.title}} </span>
            </div> 
          </a>

          <a *ngIf="item.subNav.length" [ngClass]="{'active' : item.active}">
            <div class="linkBlock">
              <i class="fa" [ngClass]="'icon-'+item.icon"></i>
              <span class="text">{{item.title}} </span>
            </div> 
            <i class="icon-anchor-right" *ngIf="item.subNav.length" aria-hidden="true"></i>
          </a>
          
          <!-- subnav -->

          <ul class="subnav openWithClick" [ngClass]="{'open' : item.active}" *ngIf="DashboardService.isMenuExpanded">
              <li class="nav_header">{{item.title}}</li>

              <li *ngFor="let subItem of item.subNav">

                <a [routerLink]="subItem.link">
                  <div class="linkBlock">{{subItem.title}}</div>
                  <i class="icon-anchor-right" *ngIf="subItem.subNav" aria-hidden="true"></i>
                </a>
                  <ul class="second_level" *ngIf="subItem.subNav">
                    <li *ngFor="let item of subItem.subNav">
                      <a [routerLink]="subItem.link"> {{ item.title }} </a>
                    </li>
                  </ul>
              </li>
          </ul>
          <ul class="subnav openOnHover" *ngIf="!DashboardService.isMenuExpanded">
              <li class="nav_header" *ngIf="!item.subNav.length">
                <a  [routerLink]="item.link">{{item.title}} </a>
              </li>
              <li class="nav_header" *ngIf="item.subNav.length">
               {{item.title}}
              </li>
              <li *ngFor="let subItem of item.subNav">
                <a [routerLink]="subItem.link">{{subItem.title}}</a>
                <ul class="second_level" *ngIf="subItem.subNav">
                  <li *ngFor="let item of subItem.subNav">
                    <a [routerLink]="subItem.link"> {{ item.title }} </a>
                  </li>
                </ul>
              </li>
          </ul>


      </li>
  </ul>



</nav>
