@import '../../../shared/styles/__vars';
:host {
    position: absolute;
    width: 350px;
    background: $color-white;
    right: 0;
    top: 34px;
    z-index: 9999;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
}



.not-header {
        background: $bg-pageHeader;
    padding: 10px 20px;
    color: $grey-light;
}

.not_footer {
        background: #d7e2e9;
    padding: 10px 20px;
    color: $grey-light;
    text-align: center;
}

.noNotifs {
    color: $notf;
    font-size: $small-font;
    line-height: 1.6666667;
    font-weight: 400;
}

