 <p-growl [value]="msgs"></p-growl>
 
 <div class="logoBox"><img src="assets/stryker_logo.png" alt=""></div>
<div class="loginBox">
  <h5>Forgot Password</h5>
<p>Enter your email below and we'll send you an email to assist you to reset your password.</p>
<form [formGroup]="resetForm" novalidate (ngSubmit)="onSubmit()">

  <div class="form-group"
   [ngClass]="{'has-error': emailMessage}">
    <label for="username">Email Address</label>
    <input type="email" id="username" formControlName="email" (blur)="checkEmail()">
    <div class="help-block" *ngIf="emailMessage">
      <p> {{ emailMessage }} </p>
    </div>
  </div>

  <div class="buttonWrap">
      <a [routerLink]="['/login']">Login</a>
      <button type="submit" [disabled]="!resetForm.valid">Submit</button>
  </div>
  
</form>

</div>
