:host {
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.loginBox {
 background: white;
    max-width: 550px;
    padding: 30px;
    display: block;
        flex: 1 1 300px;
}
.form-group {
    position: relative;
    margin-bottom: 15px;
}
input {
        height: 60px;
    padding-left: 16px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #484c5f;
    font-size: 14px;
    position: relative;
    padding-top: 0px;
    border: 1px solid #cfcfcf;
    width: 100%;
}

label {
    position: absolute;
    left: 11px;
    top: -10px;
    z-index: 3;
    color: #969696;
    font-weight: normal;
    background-color: #fff;
    padding: 0 10px 0 5px;
    font-size: 14px;
    margin-bottom: 4px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: transparent !important;
}
a {
    //     color: #1E88E5;
    // text-decoration: none;
    // width: 100%;
    // margin: 0 auto;
    // text-align: center;
    // display: block;
}
button {
    //     padding: 13px 12px;
    // text-transform: uppercase;
    // font-size: 16px;
    // letter-spacing: 0px;
    // margin-top: 20px;
    //     background: #008bf3;
    // border-color: #008bf3;
    // width: 100%;
    // color: white;
    // transition: all 0.3s ease;
   

}

h5 {
        text-align: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 29px;
    font-size: 25px;
    color: #484c5f;
}

.buttonWrap {
        display: flex;
    justify-content: space-between;
    a {
        flex: 1 1 48%;
    border: 1px solid #008bf3;
    color: #008bf3;
    margin-right: 4%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 2px;
    }
    button {
        text-transform: uppercase;
        border-radius: 2px;
    font-size: 16px;
  flex: 1 1 48%;
        background: #008bf3;
    border-color: #008bf3;
  
    color: white;
    transition: all 0.3s ease;
    cursor: pointer;
     &:disabled {
            background: #979797;
    border-color: #979797;
    opacity: 0.5;
    cursor: not-allowed;
    }
    }
}   


.help-block {
        margin-bottom: 10px;
    font-size: 0.85rem;
   
    p {
        margin: 0;
        color: red;
    }
}

.form-group {
    &.has-error {
        input {
            border-color: red;
        }
    }
}