@import '../../../shared/styles/__vars';

:host {
    height: 50px;
    //background: #434343;
    background: $bg-header;
    // display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    // flex: 0 0 50px;

    @media all and (max-width: 768px) {
        display: flex;
        align-items: center;
    }
}

.notification_wrapper {
    position: relative;
}

.count {
background: tomato;
    color: white;
    font-size: 0.75rem;
    border-radius: 25px;
    width: 18px;
    height: 18px;
    padding: 0.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -12px;
    left: 5px;
}

.menu-toggle {
    display: flex;
    align-items: center;
}

.primaryBar {
        display: flex;
    align-items: center;

}
.dashboard-controls {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.25rem;
   
}

.smallScreenWrapper {
    display: flex;
       justify-content: space-between;
    width: 100%;
    flex-direction: column;
    .logoWrapper {
        display: flex;
        align-items: center;
    }
    .toggle-buttons {
        display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    margin-left: auto;
    }
}

.largeScreenWrapper {
        display: flex;
    align-items: center;
    margin: 1em 0;
    .dashboard-controls {
            width: 62px;
    margin-left: auto;
    margin-top: 0;
    }
}

