<div class="largeScreenWrapper" *screenLarge>
  <div class="menu-toggle" (click)="toggleMenu()">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </div>

  <div class="dashboard-controls">
    <i class="fa fa-bell" aria-hidden="true"></i>
    <i (click)="triggerLogout()" class="fa fa-sign-out" aria-hidden="true"></i>
  </div>
</div>

<div class="smallScreenWrapper" *screenBelowLarge>

  <div class="primaryBar">
        <div class="logoWrapper">
          <img src="assets/logo.png" alt="">
        </div>

      <div class="toggle-buttons">
        <div (click)="isSecBarVisible = !isSecBarVisible">
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </div>
        <div class="menu-toggle" (click)="togglePrimeNav()">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
      </div>
  </div>

  <div class="secondaryBar dashboard-controls" *ngIf="isSecBarVisible">
    <i class="fa fa-bell" aria-hidden="true"></i>
    <i (click)="triggerLogout()" class="fa fa-sign-out" aria-hidden="true"></i>
  </div>

</div>

