<div class="largeScreenWrapper" *screenLarge>
  <div class="menu-toggle" (click)="toggleMenu()">
   <i class="icon-paragraph-justify3"></i>
  </div>

  <div class="dashboard-controls">
    <i class="icon-bell2"></i>
    <i class="icon-switch2" (click)="triggerLogout()"></i>
  </div>
</div>

<div class="smallScreenWrapper" *screenBelowLarge>

  <div class="primaryBar">
        <div class="logoWrapper">
          <img src="assets/logo.png" alt="">
        </div>

      <div class="toggle-buttons">
        <div (click)="isSecBarVisible = !isSecBarVisible">
          <i class="icon-more2"></i>
        </div>
        <div class="menu-toggle" (click)="togglePrimeNav()">
          <i class="icon-paragraph-justify3"></i>
        </div>
      </div>
  </div>

  <div class="secondaryBar dashboard-controls" *ngIf="isSecBarVisible">
   <i class="icon-bell2"></i>
    <i class="icon-switch2" (click)="triggerLogout()"></i>
  </div>

</div>

