@import '../../../shared/styles/__vars';

:host {
    height: 50px;
    //background: #434343;
    background: $bg-header;
    // display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    // flex: 0 0 50px;

    @media all and (max-width: 768px) {
        display: flex;
        align-items: center;
        min-height: 50px;
        height: auto;
    }
}

.notification_wrapper {
    position: relative;
}

.count {
    width: 24px;
    height: 18px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: -15px;
    left: 7px;
    background-color: #FF7043;
    border-color: #FF7043;
    color: white;
    font-size: 10px;
    letter-spacing: 0.1px;
    border: 1px solid transparent;
    border-radius: 100px;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}

.menu-toggle {
    display: flex;
    align-items: center;
}

.primaryBar {
        display: flex;
    align-items: center;
    min-height: 50px;
}
.secondaryBar {
    margin-bottom: 1.25rem;
}
.dashboard-controls {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 1.25rem;
   
}

.smallScreenWrapper {
    display: flex;
       justify-content: space-between;
    width: 100%;
    flex-direction: column;
    .logoWrapper {
        display: flex;
        align-items: center;
    }
    .toggle-buttons {
        display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    margin-left: auto;
    }
}

.largeScreenWrapper {
        display: flex;
    align-items: center;
    margin: 1em 0;
    .dashboard-controls {
            width: 62px;
    margin-left: auto;
    margin-top: 0;
    }
}

