/* You can add global styles to this file, and also import other style files */

*, *:after, *:before {
    box-sizing: border-box;
}
body {
    background: #000;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background: transparent;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}



table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}



tr {
        border: 1px solid #d6d6d6;
    background: #ffffff;
    color: #555555;
}

th {
    display: table-cell;
        border-color: inherit;
    box-sizing: border-box;
    padding: .25em .5em;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
}

tbody {
    border: 1px solid #D5D5D5;
    background: #ffffff;
    color: #222222;
}

td {
        border-color: inherit;
    box-sizing: border-box;
    padding: .25em .5em;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;
}

td > .ui-column-title {
    display: none;
}


.ui-dropdown {
    width: 100% !important;
}

.ui-tabview-nav {
    background: #d7e2e9 !important;
    padding: 0 !important;
}
.ui-tabview-panel {
    border: 1px solid #cfcfcf !important;
}

i {
    cursor: pointer;
}

a {
    cursor: pointer;
}


.ui-dropdown label.ui-dropdown-label {
    cursor: pointer !important;
    font-size: 0.75rem !important;
    padding: 0.5rem !important;
    border-radius: 0 !important;
}

input:disabled {
        cursor: not-allowed;
    opacity: 0.5;
}

.ui-dropdown label.ui-dropdown-label {
    border: 1px solid #cfcfcf;
}

.ui-dropdown-panel {
box-shadow: none;
    background: white;
    border: 1px solid #cfcfcf;
    border-top: none;
}

.form-group .ui-dropdown-panel .ui-dropdown-filter-container {
        display: flex;
    align-items: center;
}

.form-group  .ui-dropdown-filter-container input {
    margin: 0.25rem;
    padding: 0.5rem;
}
 .form-group .ui-dropdown-filter-container > span.fa {
        top: auto;
    right: 1.5rem;
    left: auto;
}

 .form-group .ui-dropdown-panel .ui-dropdown-item {
padding: 0.75rem .25em;
}
    

    .ui-tabview.ui-tabview-top>.ui-tabview-nav li {
       width: 100%;
       
    }

   

.ui-tabview.ui-tabview-top>.ui-tabview-nav li a {
    color: black;
    width: 100%;
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav li.ui-tabview-selected a {
    background: #f5f8fa;
   
}
    

@media all and (min-width: 768px) {
.ui-tabview.ui-tabview-top>.ui-tabview-nav li {
    width: auto;
}
.ui-tabview.ui-tabview-top > .ui-tabview-nav li.ui-tabview-selected a {
    border-left: none;
    
    background: #f5f8fa;
}

}

@font-face {
  font-family: 'icomoon';
  src:  url('assets/icons/icomoon.eot?dipnwf');
  src:  url('assets/icons/icomoon.eot?dipnwf#iefix') format('embedded-opentype'),
    url('assets/icons/icomoon.ttf?dipnwf') format('truetype'),
    url('assets/icons/icomoon.woff?dipnwf') format('woff'),
    url('assets/icons/icomoon.svg?dipnwf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paragraph-justify3:before {
    content: "\eec1";
}
.icon-bell2:before {
    content: "\eaac";
}
.icon-switch2:before {
    content: "\e647";
}
.icon-more2:before {
    content: "\ec59";
}
.icon-stats-growth:before {
    content: "\eb98";
}

.icon-satellite-dish2:before {
    content: "\e98a";
}
.icon-copy:before {
    content: "\ea24";
}
.icon-windows2:before {
    content: "\e9a6";
}
.icon-cog3:before {
    content: "\eb76";
}
.icon-statistics:before {
    content: "\e9b4";
}

.custom-icon.delete-icon {
    background-image: url(assets/sensor-icon-img.png);
    background-position: center -63px;
    width: 20px;
    display: block;
    height: 20px;
}

.custom-icon.add-icon {
     background-image: url('./assets/sensor-icon-img.png');
    background-position: center -85px;
    width: 20px;
    display: block;
    height: 20px;
}

tr {
    cursor: pointer;
    transition: background 0.3s ease;
}
tr:hover {
    background: #f5fafe;
}

i {
    font-size: 16px;
}

i.icon-anchor-right:before{
    content: "\e9c7";
}

h3.page_header {
        
    color: black;
    width: 100%;
    margin-top: 0;
    padding:10px 30px;
        color: #353535 ;
    font-size: 17px ;
    font-weight: 400;
}

button.cancel {
    color: #333;
    background-color: #fcfcfc;
    border: 1px solid #ddd;
    margin-right: 15px;

}
button.save {
    transition: background 0.3s ease;
    color: white;
}
button:disabled {
    opacity: 0.5;
    pointer-events: none;
    background: #cfcfcf;
    border-color:  #cfcfcf;
}

.icon-menu:before {
    content: "\ec67";
    color: black;
}

ul {
    list-style: none;
}

.ui-growl {
background-color: #4CAF50;
    border-color: #4CAF50;
}


.ui-tooltip{
    top: 25px !important;
    right: 0px;
    max-width: 300px;
    font-size: 13px;
    color: white;
    
    /*//height: 100px;*/
    word-wrap: break-word;
    overflow: hidden;
    padding: 10px 25px;
    z-index: 99999 !important;
}

.myTooltip .ui-tooltip-text {
 max-width: 300px;
 min-height: 50px;
        /*font-size: 13px;
    color: white;
    height: 100px;*/
        word-wrap: break-word;
}


.ui-growl-item-container {
    margin: 0;
    color: white;
}
i:before {
    transition: color 0.3s ease;
}
i:hover:before {
    color: white;
}

a.active i.icon-anchor-right {
transform: rotate(90deg);
    transition: transform 0.3s ease;
}


.ui-datatable thead th {
        font-size: 14px;
    color: #353535;
    border-bottom: 1px solid #e5e5e5 !important;
    border-top: 1px solid #e5e5e5 !important;
    text-align: left;
    font-weight: 600;

}
.ui-cell-data {
    color: #353535 ;
    font-weight: normal ;
    font-size: 13px;

}

thead th {
    background: #fafafa;
}

.ui-datatable .ui-datatable-data>tr>td, .ui-datatable .ui-datatable-thead>tr>th{
    border-style: none;
}

.ui-datatable-thead>tr>th:first-child {
    border-left: 1px solid #d6d6d6;
}
.ui-datatable-thead>tr>th:last-child {
    border-right: 1px solid #d6d6d6;
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav li a {
    color: #333;
    width: 100%;
    font-size: 13px;
}

.ui-tabview.ui-tabview-top>.ui-tabview-nav li {
    margin-bottom: 0;
}

tr > td:not(:first-child) .ui-cell-data {
    color: #969696;
}

#legend div {
    display: flex;
    align-items: center;

}

#legend div:not(:last-of-type) {
    margin-bottom: 10px;
}
 .gm-style img {
       width: 16px;
        height: 16px;
        margin-right: 10px;
  }

