<!--<dash-mask *ngIf="DashboardService.isMask"><dash-mask>-->
  <div class="dash-mask" *ngIf="DashboardService.isMask"></div>
<section class="dashboard-wrapper">

  <dash-header *screenBelowLarge></dash-header>
  <dash-menu 
    [ngClass]="{expanded: DashboardService.isMenuExpanded}"
    *ngIf="DashboardService.isMenuVisible">
  </dash-menu>
  
  <main>
    <dash-header *screenLarge></dash-header>
    <section class="content">
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </section>
  </main>
  
</section>